@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    overflow-x: hidden;

} */
body{
    font-family: 'Inter', sans-serif;
 

   
}
.NameWeb{

    font-family: 'Kaushan Script', cursive;

}


.backgraondproduct{
    background: rgb(231,225,255);
background: linear-gradient(90deg, rgba(231,225,255,1) 100%, rgba(254,254,254,1) 100%);
}